[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
prospector = "*"
"autopep8" = "*"
rope = "*"
nose = "*"

[packages]
markdown = "*"

[requires]
python_version = "3.6"
